<div class="buttons mb-4">
    <%= link_to 'All Customers', root_path, class: "button is-link" %>
    <%= link_to 'Alphabetized', alphabetized_customers_path, class: "button is-primary" %>
    <%= link_to 'Missing Email', missing_email_customers_path, class: "button is-warning" %>
</div>

<section class="section">
    <div class="container">
        <h1 class="title">Customers (Alphabetized)</h1>

        <% @customers.each do |customer| %>
            <%= render partial: 'customer', locals: { customer: customer } %>
        <% end %>
    </div>
</section>