<section class="section">
    <div class="container">
        <h1 class="title">Customers Missing Email Addresses</h1>

        <% @customers.each do |customer| %>
            <%= render partial: 'customer', locals: { customer: customer } %>
        <% end %>
    </div>
</section>
